
html,
body,
header,
#intro {
	height: 100%;
}

/* Navbrand */
.f-title {
    font-family: 'Euphoria Script', cursive;
    color: #CFB53B;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 1.6em;
}

.s-title {
    font-family: 'Euphoria Script', cursive;
    color: #CFB53B;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 1.6em;
}

.a-title {
    font-family: 'Euphoria Script', cursive;
    color:  #CFB53B;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 1.6em;
}

.nav-title {
    color: black;
}